/* TABLE OF CONTENTS - mixinsMembership.scss

... Color Variables
... Block Level Sizing + Spacing +Padding
... Screen-size + media query mixins
... font families
... font + type size helpers
... Button + Link Mixins
... Helpful Mixins
... Animations
*/

/* Color Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Base
$white: #fff;
$charcoal10: #f7f7f7;
$charcoal20: #f2f2f2;
$charcoal30: #e6e6e6;
$charcoal40: #ccc;
$charcoal45: #a0a0a0;
$charcoal50: #757575;
$charcoal60: #4b4b4b;
$charcoal70: #292929;
$charcoal80: #555;
$black: #000;
$black10: #191919;

// "Savage" Orchids
$orchidType70: #4f4b70; //only use for type on $white
$orchidType60: #756f9d; //only use for type on $white, $orchid10, or $orchid20
$orchid50: #9994c1;
$orchid40: #bbb7da;
$orchid30: #d6d3eb;
$orchid20: #e7e5f5;
$orchid10: #eeedfa;

// "Ruthless" Teals
$teal10: #b3e9e9;
$teal20: #8dd9d9;
$teal30: #5fc3c3;
$teal40: #048282;

// Max Page Width for the site.
$maxPageWidth: 1200px;

// Relative Margins & Padding (spacing)
$remSpacing1: 0.4rem;
$remSpacing2: 0.8rem;
$remSpacing3: 1.6rem;
$remSpacing4: 2.4rem;
$remSpacing5: 3.2rem;
$remSpacing6: 4rem;
$remSpacing7: 4.8rem;
$remSpacing8: 5.6rem;
$remSpacing9: 6.4rem;

// Absolute Margins & Padding (spacing) Note: Use remSpacing whenever possible.
$spacing1: 4px;
$spacing2: 8px;
$spacing3: 16px;
$spacing4: 24px;
$spacing5: 32px;
$spacing6: 40px;
$spacing7: 48px;
$spacing8: 56px;
$spacing9: 64px;

// viewport variables
$viewport-xs-width: 320px;
$viewport-sm-width: 568px;
$viewport-md-width: 768px;
$viewport-lg-width: 1024px;
$viewport-xl-width: 1440px;

$viewport-xxs-max: ($viewport-xs-width - 1);
$viewport-xs-max: ($viewport-sm-width - 1);
$viewport-sm-max: ($viewport-md-width - 1);
$viewport-md-max: ($viewport-lg-width - 1);
$viewport-lg-max: ($viewport-xl-width - 1);

// the essential media queries - use liberally
@mixin mqViewportXs {
    @media only screen and (min-width: $viewport-xs-width) {
        @content;
    }
}

@mixin mqViewportSm {
    @media only screen and (min-width: $viewport-sm-width) {
        @content;
    }
}

@mixin mqViewportMd {
    @media only screen and (min-width: $viewport-md-width) {
        @content;
    }
}

@mixin mqViewportLg {
    @media only screen and (min-width: $viewport-lg-width) {
        @content;
    }
}

@mixin mqViewportXl {
    @media only screen and (min-width: $viewport-xl-width) {
        @content;
    }
}

@mixin mqViewportXxl {
    @media only screen and (min-width: $viewport-xxl-width) {
        @content;
    }
}

// super specific media queries - use sparingly
@mixin mqViewportMobile() {
    @media only screen and (max-width: $viewport-xs-max) {
        @content;
    }
}

@mixin mqViewportMobilePortrait() {
    @media only screen and (max-width: $viewport-xs-max) and (orientation: portrait) {
        @content;
    }
}

@mixin mqViewportXsOnly() {
    @media only screen and (max-width: $viewport-xs-max) {
        @content;
    }
}

@mixin mqViewportSmOnly() {
    @media only screen and (min-width: $viewport-sm-width) and (max-width: $viewport-sm-max) {
        @content;
    }
}

@mixin mqViewportMdOnly() {
    @media only screen and (min-width: $viewport-md-width) and (max-width: $viewport-md-max) {
        @content;
    }
}

@mixin mqViewportLgOnly() {
    @media only screen and (min-width: $viewport-lg-width) and (max-width: $viewport-lg-max) {
        @content;
    }
}
