@import 'src/styles/mixins';

.Card {
    width: 300px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;

    .header {
        font-size: 30px;
        margin: 20px 0 0 20px;
        width: 190px;
        color: $black;
        background: rgba(187,187,187,0.8);
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
        transform: translateY(-3px);
        transform: scale(1.1, 1.1);
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
        padding: 8px 20px;
    }

    .text {
        color: rgba(255,255,255, 0.8);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        align-self: end;
        margin: 0 0 20px 20px;
    }

    .image {
        height: 110%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

        :hover {
            transform: translateY(-20px);
        }
    }
}

.fart {
    width: 100%;
    left: auto;
    right: 50%;
    margin-right: -496px;
}

.Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}


.toggle-button {
    cursor: pointer;
    padding: 8px 20px;
    color: $black;

    &:hover {
        color: $black;
        background: rgba(187,187,187,0.8);
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
        transform: translateY(-3px);
        transform: scale(1.1, 1.1);
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    }
  }

  .modalImage {
      height: 80%;
      width: 80%;
  }
