@import 'src/styles/mixins';

.Card {
    width: 300px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    background: rgba(187,187,187,0.8);


    .header {
        font-size: 30px;
        color: $white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        margin-left: 1.4rem;
        border-radius: 10px;
        transform: translateY(-3px);
        transform: scale(1.1, 1.1);
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
        height: 100%;
        letter-spacing: 1.7px;
    }

    .headerWrapper {
        height: 100%
    }

    .text {
        color: rgba(255,255,255, 0.8);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        align-self: end;
        margin: 0 0 20px 20px;
    }

    .image {
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

        :hover {
            transform: translateY(-20px);
        }
    }

    &:hover {
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background: rgba(187,187,187,0.8);
        padding: .4rem;
    }
}

.fart {
    width: 100%;
    left: auto;
    right: 50%;
    margin-right: -496px;
}


.toggle-button {
    cursor: pointer;
    padding: 8px 20px;
    color: $black;

    &:hover {
        color: $black;
        background: rgba(187,187,187,0.8);
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
        transform: translateY(-3px);
        transform: scale(1.1, 1.1);
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    }
  }

  .modalImage {
    max-width:100%;
    max-height:100%;
  }

  .modalText {
      font-size: 1rem;
  }

  .modalStackText {
      font-size: .8rem;
      color: $teal40;
  }
