@import 'src/styles/mixins';

.modal {
    justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
    z-index: 10000;
    background: rgba(0,0,0,.6);
    visibility: visible;

    @include mqViewportMobile {
      left: 0;
      right: 0;
    }


    &.off {
      opacity: 0;
      visibility: hidden;
      filter: blur(8px);
      transform: scale(0.33);
      box-shadow: 1rem 0 0 rgba(black, 0.2);
    }
    @media (prefers-reduced-motion) {
      offset-path: none;
    }
    h2 {
      border-bottom: 1px solid #ccc;
      padding: 1rem;
      margin: 0;
      background-color: red;
    }
    .content {
      padding: 1rem;
    }
    .actions {
      border-top: 1px solid #ccc;
      background: #eee;
      padding: 0.5rem 1rem;
      height: 100%;
      button {
        border: 0;
        background: #56CCF2;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        line-height: 1;
      }
    }

    .photo {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
  }
